# OSX files
.CFUserTextEncoding
.DS_Store
.Trash
Applications/
Desktop/
Documents/
Downloads/
Google Drive/
Library/
Movies/
Music/
Pictures/
Public/

# history
.bash_history
.bash_sessions
.lesshst
.python_history
.scala_history
.zsh_history
.zsh_sessions

# Java
*.class
*.jar
.gradle/
.ivy2/
.m2/

# vim
.vim/.netrwhist
.vim/bundle/*
!.vim/bundle/Vundle.vim
.vim/spell/en.utf-8.add.spl
.viminfo

# ruby
.bundle/
.gem/
.gemrc
.rbenv/
 
# IaC/Cloud
.azure/
.boto
.config/gcloud/
.pulumi
.terraform.d/

# dotnet
.dotnet/
.nuget/
.local/share/NuGet/

# python
.pex
.pyenv

# misc
.antigen
.asdf/
.aspnet/
.atom
.cache
.cocoapods/
.config/asciinema/
.config/op/
.cookiecutter_replay/
.cookiecutters/
.cups/
.dotfiles/
.gitstats/
go/
.ionic/
.local/share/devbox/
.local/state/
.minikube/
.mysql_history
.nix-defexpr/
.op
.pkg-cache/
.watchman
.wget-hsts
.tools-cache/home/
.tss/
.vscode/
*.zwc
.zentracker/
OrbStack/
setup-scripts/nohup.out

# node stuff
.bun/
.config/yarn
.nodenv
.npm
.yarn/
.yarnrc

# credentials
.arcrc
.config/github-copilot/hosts.json
.config/manicode/credentials.json
.gnupg/
.jira-credentials.yml
.netrc
.npmrc
.ssh

# subrepos
workdir/
workspace/
