[color]
	ui = true
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[rerere]
	enabled = 1
[diff]
	renames = true
	copies = true
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
[fetch]
	prune = true
	pruneTags = true
[push]
	default = simple
	autoSetupRemote = true
	followTags = true
# http://stackoverflow.com/questions/18257622/why-is-git-core-preloadindex-default-value-false
[core]
	preloadindex = true
	deltabasecachelimit = 4g
	editor = /usr/bin/vim
[http]
	postBuffer = 209715200
[alias]
	root = !pwd
	exec = "!exec "
[alias]
	superprune = "!superprune(){ echo 'Fetching remote then deleting branches no that are gone. This may take a moment' && git fetch -p && for branch in $(git for-each-ref --format '%(refname) %(upstream:track)' refs/heads | awk '$2 == \"[gone]\" {sub(\"refs/heads/\", \"\", $1); print $1}'); do git branch -D $branch; done; };superprune"
	checkoutat ="!checkoutat(){ git checkout `git rev-list -n 1 --first-parent --before=\"$1\" master` }"
	append = commit --amend -C HEAD
	newbranch = "!newbranch(){ git checkout origin/master -b $@ || git checkout origin/main -b $@; };newbranch"
	nb = newbranch
	co = checkout
	fixup = "!fixup(){ git commit --fixup $@; };fixup"
[pull]
	rebase = true
[rebase]
	autoStash = true
	autoSquash = true
	updateRefs = true
[help]
	autocorrect = 1
[init]
	defaultBranch = master
[feature]
	manyfiles = true

[user]
	useConfigOnly = true
	name = Matthew Jeffryes

[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[commit]
	verbose = true
