<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHClojureRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>github.com/lestrrat-go/jsschema</key>
			<dict>
				<key>date</key>
				<date>2025-09-25T04:12:58Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>github.com/lestrrat-go/jsschema</string>
					<key>platform</key>
					<string>godoc</string>
					<key>uniqueIdentifier</key>
					<string>github.com/lestrrat-go/jsschema</string>
				</dict>
			</dict>
			<key>github.com/pulumi/pulumi/pkg/v3/codegen/schema</key>
			<dict>
				<key>date</key>
				<date>2025-09-29T15:29:40Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>github.com/pulumi/pulumi/pkg/v3/codegen/schema</string>
					<key>platform</key>
					<string>godoc</string>
					<key>uniqueIdentifier</key>
					<string>github.com/pulumi/pulumi/pkg/v3/codegen/schema</string>
				</dict>
			</dict>
			<key>github.com/pulumi/pulumi/sdk/v3/go/common</key>
			<dict>
				<key>date</key>
				<date>2025-09-27T13:13:03Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>github.com/pulumi/pulumi/sdk/v3/go/common</string>
					<key>platform</key>
					<string>godoc</string>
					<key>uniqueIdentifier</key>
					<string>github.com/pulumi/pulumi/sdk/v3/go/common</string>
				</dict>
			</dict>
			<key>github.com/pulumi/pulumi/sdk/v3/go/pulumi</key>
			<dict>
				<key>date</key>
				<date>2025-09-29T15:30:00Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>github.com/pulumi/pulumi/sdk/v3/go/pulumi</string>
					<key>platform</key>
					<string>godoc</string>
					<key>uniqueIdentifier</key>
					<string>github.com/pulumi/pulumi/sdk/v3/go/pulumi</string>
				</dict>
			</dict>
			<key>github.com/pulumi/pulumi/sdk/v3/proto</key>
			<dict>
				<key>date</key>
				<date>2025-09-27T13:12:07Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>github.com/pulumi/pulumi/sdk/v3/proto</string>
					<key>platform</key>
					<string>godoc</string>
					<key>uniqueIdentifier</key>
					<string>github.com/pulumi/pulumi/sdk/v3/proto</string>
				</dict>
			</dict>
			<key>github.com/pulumi/pulumi/sdk/v3/proto/go</key>
			<dict>
				<key>date</key>
				<date>2025-09-27T13:12:06Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>github.com/pulumi/pulumi/sdk/v3/proto/go</string>
					<key>platform</key>
					<string>godoc</string>
					<key>uniqueIdentifier</key>
					<string>github.com/pulumi/pulumi/sdk/v3/proto/go</string>
				</dict>
			</dict>
			<key>github.com/stretchr/testify</key>
			<dict>
				<key>date</key>
				<date>2025-09-25T04:13:02Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>github.com/stretchr/testify</string>
					<key>platform</key>
					<string>godoc</string>
					<key>uniqueIdentifier</key>
					<string>github.com/stretchr/testify</string>
				</dict>
			</dict>
			<key>io</key>
			<dict>
				<key>date</key>
				<date>2025-09-25T04:12:50Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>io</string>
					<key>platform</key>
					<string>godoc</string>
					<key>uniqueIdentifier</key>
					<string>io</string>
				</dict>
			</dict>
			<key>pgregory.net/rapid</key>
			<dict>
				<key>date</key>
				<date>2025-09-25T04:12:50Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>pgregory.net/rapid</string>
					<key>platform</key>
					<string>godoc</string>
					<key>uniqueIdentifier</key>
					<string>pgregory.net/rapid</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>github.com/pulumi/pulumi/sdk/v3/go/common/resource</key>
			<dict>
				<key>date</key>
				<date>2023-08-01T00:13:03Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>github.com/pulumi/pulumi/sdk/v3/go/common/resource</string>
					<key>platform</key>
					<string>godoc</string>
					<key>uniqueIdentifier</key>
					<string>github.com/pulumi/pulumi/sdk/v3/go/common/resource</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>DHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>com.google.dagger:dagger</key>
			<dict>
				<key>date</key>
				<date>2025-09-25T04:12:56Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>com.google.dagger:dagger</string>
					<key>platform</key>
					<string>javadoc</string>
					<key>uniqueIdentifier</key>
					<string>com.google.dagger:dagger</string>
				</dict>
			</dict>
			<key>com.google.guava:guava</key>
			<dict>
				<key>date</key>
				<date>2025-09-25T04:12:48Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>com.google.guava:guava</string>
					<key>platform</key>
					<string>javadoc</string>
					<key>uniqueIdentifier</key>
					<string>com.google.guava:guava</string>
				</dict>
			</dict>
			<key>com.google.guava:guava-base</key>
			<dict>
				<key>date</key>
				<date>2025-09-25T04:12:58Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>com.google.guava:guava-base</string>
					<key>platform</key>
					<string>javadoc</string>
					<key>uniqueIdentifier</key>
					<string>com.google.guava:guava-base</string>
				</dict>
			</dict>
			<key>com.google.guava:guava-concurrent</key>
			<dict>
				<key>date</key>
				<date>2025-09-25T04:12:47Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>com.google.guava:guava-concurrent</string>
					<key>platform</key>
					<string>javadoc</string>
					<key>uniqueIdentifier</key>
					<string>com.google.guava:guava-concurrent</string>
				</dict>
			</dict>
			<key>com.google.protobuf:protobuf-java</key>
			<dict>
				<key>date</key>
				<date>2025-09-25T04:12:53Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>com.google.protobuf:protobuf-java</string>
					<key>platform</key>
					<string>javadoc</string>
					<key>uniqueIdentifier</key>
					<string>com.google.protobuf:protobuf-java</string>
				</dict>
			</dict>
			<key>com.google.truth:truth</key>
			<dict>
				<key>date</key>
				<date>2025-09-25T04:12:51Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>com.google.truth:truth</string>
					<key>platform</key>
					<string>javadoc</string>
					<key>uniqueIdentifier</key>
					<string>com.google.truth:truth</string>
				</dict>
			</dict>
			<key>com.pholser:junit-quickcheck-core</key>
			<dict>
				<key>date</key>
				<date>2025-09-25T04:12:58Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>com.pholser:junit-quickcheck-core</string>
					<key>platform</key>
					<string>javadoc</string>
					<key>uniqueIdentifier</key>
					<string>com.pholser:junit-quickcheck-core</string>
				</dict>
			</dict>
			<key>com.pholser:junit-quickcheck-examples</key>
			<dict>
				<key>date</key>
				<date>2025-09-25T04:13:00Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>com.pholser:junit-quickcheck-examples</string>
					<key>platform</key>
					<string>javadoc</string>
					<key>uniqueIdentifier</key>
					<string>com.pholser:junit-quickcheck-examples</string>
				</dict>
			</dict>
			<key>com.pholser:junit-quickcheck-generators</key>
			<dict>
				<key>date</key>
				<date>2025-09-25T04:12:50Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>com.pholser:junit-quickcheck-generators</string>
					<key>platform</key>
					<string>javadoc</string>
					<key>uniqueIdentifier</key>
					<string>com.pholser:junit-quickcheck-generators</string>
				</dict>
			</dict>
			<key>io.grpc:grpc-api</key>
			<dict>
				<key>date</key>
				<date>2025-09-25T04:12:47Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>io.grpc:grpc-api</string>
					<key>platform</key>
					<string>javadoc</string>
					<key>uniqueIdentifier</key>
					<string>io.grpc:grpc-api</string>
				</dict>
			</dict>
			<key>io.grpc:grpc-core</key>
			<dict>
				<key>date</key>
				<date>2023-08-17T19:12:26Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>io.grpc:grpc-core</string>
					<key>platform</key>
					<string>javadoc</string>
					<key>uniqueIdentifier</key>
					<string>io.grpc:grpc-core</string>
				</dict>
			</dict>
			<key>io.grpc:grpc-protobuf</key>
			<dict>
				<key>date</key>
				<date>2025-09-25T04:12:55Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>io.grpc:grpc-protobuf</string>
					<key>platform</key>
					<string>javadoc</string>
					<key>uniqueIdentifier</key>
					<string>io.grpc:grpc-protobuf</string>
				</dict>
			</dict>
			<key>joda-time:joda-time</key>
			<dict>
				<key>date</key>
				<date>2025-09-25T04:12:51Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>joda-time:joda-time</string>
					<key>platform</key>
					<string>javadoc</string>
					<key>uniqueIdentifier</key>
					<string>joda-time:joda-time</string>
				</dict>
			</dict>
			<key>junit:junit</key>
			<dict>
				<key>date</key>
				<date>2025-09-25T04:12:58Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>junit:junit</string>
					<key>platform</key>
					<string>javadoc</string>
					<key>uniqueIdentifier</key>
					<string>junit:junit</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>actuallyDarkWebView</key>
	<true/>
	<key>annotationsAreShown</key>
	<false/>
	<key>dateFormat</key>
	<string>YYYY-MM-dd</string>
	<key>docsets</key>
	<dict>
		<key>keywords</key>
		<dict>
			<key>~/Library/Application Support/Dash/Go DocSets/github.com lestrrat-go jsschema/GoDoc.docset</key>
			<string>go:</string>
			<key>~/Library/Application Support/Dash/Go DocSets/github.com pulumi pulumi pkg v3 codegen schema/GoDoc.docset</key>
			<string>go:</string>
			<key>~/Library/Application Support/Dash/Go DocSets/github.com pulumi pulumi sdk v3 go common/GoDoc.docset</key>
			<string>go:</string>
			<key>~/Library/Application Support/Dash/Go DocSets/github.com pulumi pulumi sdk v3 go pulumi/GoDoc.docset</key>
			<string>go:</string>
			<key>~/Library/Application Support/Dash/Go DocSets/github.com stretchr testify/GoDoc.docset</key>
			<string>go:</string>
			<key>~/Library/Application Support/Dash/Go DocSets/io/GoDoc.docset</key>
			<string>go:</string>
			<key>~/Library/Application Support/Dash/Go DocSets/pgregory.net rapid/GoDoc.docset</key>
			<string>go:</string>
		</dict>
	</dict>
	<key>feeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/Go.xml</key>
			<dict>
				<key>date</key>
				<date>2025-09-25T04:12:54Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Java_SE11.xml</key>
			<dict>
				<key>date</key>
				<date>2023-07-10T22:25:31Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Ruby_3.xml</key>
			<dict>
				<key>date</key>
				<date>2025-09-25T04:13:12Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Scala.xml</key>
			<dict>
				<key>date</key>
				<date>2025-09-25T04:13:08Z</date>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>http://kapeli.com/feeds/Bash.xml</key>
			<dict>
				<key>date</key>
				<date>2021-11-29T21:58:54Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Java_SE8.xml</key>
			<dict>
				<key>date</key>
				<date>2021-11-29T21:58:54Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Python_2.xml</key>
			<dict>
				<key>date</key>
				<date>2021-11-29T21:58:54Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Python_3.xml</key>
			<dict>
				<key>date</key>
				<date>2021-11-29T21:58:54Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Vim.xml</key>
			<dict>
				<key>date</key>
				<date>2021-11-29T21:58:54Z</date>
			</dict>
		</dict>
	</dict>
	<key>isPinned</key>
	<true/>
	<key>placeholderDelimiter</key>
	<string>__</string>
	<key>profiles</key>
	<array>
		<dict>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Default</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
		<dict>
			<key>icon</key>
			<string>Snippet</string>
			<key>name</key>
			<string>Snippets Only</string>
			<key>placeholder</key>
			<string>Search Snippets</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
		<dict>
			<key>docsets</key>
			<array>
				<string>~/Library/Application Support/Dash/DocSets/Go/Go.docset</string>
				<string>~/Library/Application Support/Dash/Go DocSets/io/GoDoc.docset</string>
				<string>~/Library/Application Support/Dash/Go DocSets/github.com stretchr testify/GoDoc.docset</string>
			</array>
			<key>name</key>
			<string>golang</string>
			<key>searchSnippets</key>
			<false/>
		</dict>
	</array>
	<key>shouldRestoreTabs</key>
	<true/>
	<key>shouldShowStatusIcon</key>
	<false/>
	<key>shouldSyncBookmarks</key>
	<true/>
	<key>shouldSyncDocsets</key>
	<true/>
	<key>shouldSyncGeneral</key>
	<true/>
	<key>shouldSyncView</key>
	<true/>
	<key>showInDock</key>
	<true/>
	<key>timeFormat</key>
	<string>HH:mm</string>
	<key>versionedDHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHClojureRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedFeeds</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>webSearches</key>
	<array>
		<dict>
			<key>iconName</key>
			<string>Google</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>Google</string>
			<key>url</key>
			<string>https://www.google.com/search?q={query}</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>DuckDuckGo</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<false/>
			<key>name</key>
			<string>DuckDuckGo</string>
			<key>url</key>
			<string>https://duckduckgo.com/?q={query}&amp;ia=web</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>Stack Overflow</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>Stack Overflow</string>
			<key>url</key>
			<string>https://stackoverflow.com/search?q={query}</string>
		</dict>
	</array>
</dict>
</plist>
